.imgDetail {
    width: 100%;
    height: 100%;
}

.imgContainer {
    min-width: 60vw;
    /* height: 30%; */
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lowestPriceText {
    font-weight: 500;
    margin-right: 0.7rem;
    font-size: 1.2rem;
}
.price {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}