.imgDetail {
    width: 60vw;
    max-height: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
}

.imgContainer {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lowestPriceText {
    font-weight: 500;
    margin-right: 0.7rem;
    font-size: 1.2rem;
}
.price {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}

.btnOrange {
    all: unset;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    color: white;
    background-color: rgb(224, 111, 5);
}

.btnDarkOrange {
    all: unset;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    color: white;
    background-color: rgb(184, 91, 4);
}