.imgDetail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgContainer {
    /* max-height: 40vh; */
    display: flex;
    justify-content: center;
    width: 60vw;
    height: 30%;
   
}

.lowestPriceText {
    font-weight: 500;
    margin-right: 0.7rem;
    font-size: 1.2rem;
}
.price {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}