.navbarContainer {
    background-color: rgb(3, 41, 85);
    height: 100%;
}

.btnSearch {
    all: unset;
    padding: 0.2rem 0.8rem;
    border-radius: 3px;
    background-color: rgb(224, 111, 5);
    color: white;
}